<ion-view view-title="修改密码">
  <ion-content>
     <form name="changeForm" ng-submit="doChange()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">旧密码</span>
          <input name="oldPassword" type="password" ng-model="data.oldPassword" required>
        </label>
        <label class="item item-input">
          <span class="input-label">新密码</span>
          <input name="newPassword" type="password" ng-model="data.newPassword" required ng-minlength="6">
        </label>
        <label class="item item-input">
          <span class="input-label">确认新密码</span>
          <input name="confirmPassword" type="password" ng-model="data.confirmPassword" required ng-minlength="6">
        </label>
        <label class="item">
          <button ng-disabled="changeForm.$invalid" class="button button-block button-positive" type="submit">确认修改</button>
        </label>
        <label ng-show="changeForm.$dirty && changeForm.$invalid" class="item">
        	<i class="icon ion-alert-circled energized"></i>
        	<label class="assertive">
        		<span ng-if="changeForm.oldPassword.$dirty && changeForm.oldPassword.$invalid">旧密码是必须的</span>
        		<span ng-if="changeForm.newPassword.$dirty && changeForm.newPassword.$invalid">新密码不能少于六位</span>
        		<span ng-if="changeForm.confirmPassword.$dirty && data.confirmPassword!==data.newPassword">密码不一致</span>
        	</label>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
