
<style type="text/css">
  .purchase-index .item-divider{
        height: 70px;
    font-size: 25px;
    font-weight: 500;
    padding: 25px;
    text-align: center;
  }
</style>
<ion-view view-title="入库">
  <ion-content class="purchase-index">
    <div class="list card" ng-click="goRecord()">
	  <div class="item item-divider">
	  <!-- <i class="icon ion-ios-plus-empty"></i> -->
	    添加入库记录
	  </div>
      <!-- <div class="item item-text-wrap">
        
      </div> -->
    </div>

    <div class="list card" ng-click="goRecordList()">
	  <div class="item item-divider">
	  	<!-- <i class="icon ion-ios-plus-empty"></i> -->
	    查看入库记录
	  </div>
      <!-- <div class="item">
        
      </div> -->
    </div>
  </ion-content>
</ion-view>
